* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#twat {
    background-color: rgba(0, 0, 0, 100%);
}
@media screen and (max-width: 320px) {
    a {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) {
    p {
        font-size: 1rem;
        text-align: center;
    }
}

.hr {
    width:75%;
    margin: 10px auto;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    align-items: center;

}

main {
    flex-grow: 1;
    text-align: justify;
    width: 80%;


}

#home-main-about {

}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#topic {
    display: flex;
    flex-direction: column;
}

#tiktok-embed-div {
    padding: 0 10px;
}

header {
    position: relative;
    min-width: 100vw;
    display: flex;
    background-color: #f1f1f1;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}








footer {
    position: relative;
    flex-grow: 0;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

}
#footer-menu {
    position: relative;
    margin-left: 0;
}
#footer-copyright {
    margin: auto;
}


