* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

body main > h1 {
    align-self: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
    width: 80%;
}

#about-news-list {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#about-news-list ul li {
    margin: 10px;
    text-indent: 20px;
}

.hr {
    width: 75%;
    margin: 10px auto;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#topic {
    display: flex;
    flex-direction: column;
}

#tiktok-embed-div {
    padding: 0 10px;
}

#social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 20px;
}

#news-div {
    min-width: 288px;
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.news-image {
    width: 50%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#news-div p {
    padding: 0 10px;
}

.news-link {
    margin-bottom: 5px;
}

#cookie-policy-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#cookie-policy-main button {
    margin-top: 10px;
    padding: 0 2px;
}

#cookie-table-div {
    width: 100%;
}

#cookie-table {
    width: 100%;
    border-collapse: collapse;
}

#cookie-table th,
#cookie-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#changelog {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#changelog h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#commit-list {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

#commit-list li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#commit-list li:last-child {
    border-bottom: none;
}

.second-header {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 15px;
}

@media screen and (min-width: 800px) {
    p {
        font-size: 1rem;
    }
}
