* {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:125vh;
    width: 100vw;
    position: relative;
    font-family: Arial, sans-serif;
}

body main > h1 {
    align-self: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    width: 80%;
}

#about-news-list {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#about-news-list ul li {
    margin: 10px;
    text-indent: 20px;
}

.hr {
    width: 75%;
    margin: 10px auto;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#topic {
    display: flex;
    flex-direction: column;
}

#tiktok-embed-div {
    padding: 0 10px;
}

#social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 20px;
}

#news-div {
    min-width: 288px;
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


#news-brief {
    border: 1px solid #ccc;
}

.news-image {
    width: 50%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#news-div p {
    padding: 0 10px;
}

.news-link {
    margin-bottom: 5px;
}

#cookie-policy-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#cookie-policy-main button {
    margin-top: 10px;
    padding: 0 2px;
}

#cookie-table-div {
    width: 100%;
}

#cookie-table {
    width: 100%;
    border-collapse: collapse;
}

#cookie-table th,
#cookie-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#changelog {
    position: relative;
    max-height: 300px;
    max-width: 400px;
    overflow-y: auto;
    margin: 20px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#changelog-header {
    display: flex; 
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#changelog h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#commit-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#commit-list li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#commit-list li:last-child {
    border-bottom: none;
}

.second-header {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 15px;
}


#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        height: 120px;
        border-radius: 25px;
    }
    #intro-hosted {
        display: flex;
        flex-direction: column;

        gap: 10px;
    }
    #ncl-coll {
        height: 100px;
    }
   
}

#news-brief-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#news-brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: scroll;
    max-height: 300px;
}

#news-brief-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

#news-brief > div {
    /* padding: 5px; */
    max-width: 50%;
    p {
        text-justify: justify;
        margin-left: 5px;
        margin-right: 5px;
    }
    img {
        max-width: 100%;
        max-height: 200px;
        min-height: 100px;
    }
}

@media screen and (max-width: 430px) {
    #news-brief-solo {
        display: none;
    }
    main {
        width: 90%;
    }
    #newsTable td:nth-child(2), /* Hide the publication date column */
    #newsTable td:nth-child(3), /* Hide the publisher column */
    #newsTable th:nth-child(2), /* Hide the publication date header */
    #newsTable th:nth-child(3) { /* Hide the publisher header */
        display: none;
    }
}

#curse {
    background-color: black;
    color: black;
}

/*Small images in timeline*/
.sml {
    min-width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#home-main-about > div > h3, 
#home-main-about > div > h2 {
    margin-top: 10px; 
}