*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    gap: 10px;
    text-shadow: 1px 1px 1px whitesmoke;
}
#h1 {
    color: lightgrey;
}

#shield > img {
    width: 20vw;
    height: auto;
}
