* {
    margin: 0;
    padding: 0;
    color: darkgray;
    user-select: none;
}
h2 {
    font-size: 2rem;
}

body {
    background-color: black;
    /*height: 100%;*/
    /*width: 100vw;*/
}

main > div {
    overflow-x: hidden;
}

.twitterFeed {
    width: 100%;
    display: flex;
    justify-content: center;
}
.twitter-timeline {
    width: 80vw;
    justify-self: center;
    box-shadow: 2px 2px 4px #000;
    border-radius: 20px;
}

.bannerTop {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: 310px; background-color: white;
    z-index: 0;
}

/*.bannerImg {*/
/*    height: 100%;*/
/*}*/

.bannerImg > img{
    position: relative;
    top: -80px;
}§

.profFrame {
    display: flex;
    width: 175px;
    height: 200px;
    background-color: white;
    z-index: 2;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: 0 0 25px #c5c5c5;
    flex: 0 0 auto;
    top: -253px;
    left: 100px;
    position: relative;
}

#xabout {
    margin-left: 25px;
    display: flex;
    gap: 25px;
}

#paypalalkatraz {
    margin-left: 100px;
}

#headerLinks{
    position: relative;
    top: -290px;
    display: flex;
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0 20px 0 10px;
    box-shadow: #c5c5c5 0 0 25px;

}
#headerLinks a {
    margin-left: 10px;
    color: dimgrey;
}
#headerLinks a:hover {
    color: dodgerblue;
}

.ribbon {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    background-clip: text;

}
#ribbon {
    width: 100%;
    height: 100%;
}


#socialHeading h2 {
    text-shadow: white 1px 1px 1px;
    margin-bottom: 50px;
}

.socials {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.socials img {
    width: 10vw;
    height: auto;
    border: 3px solid white;
    border-radius: 30%;
}

.logoFloater {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    bottom: 0;
    background-color: white;
    padding: 5px;
    height: 50px;
    box-shadow: #c5c5c5 -5px -5px 25px;
}

#headerLinks > a {
    color: white;
}

.pic > img {
    width: auto;
    max-height: 50px;
    background-color: transparent;
;
}

/* Slideshow container */
.slideshow-container {
    /*max-width: 80vw;*/
    position: relative;
    margin: auto;
    /*box-shadow: #c5c5c5 -5px -5px 25px;*/

}

/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 95%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: purple;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 5px 5px 5px;
    user-select: none;
    background-color: rgba(255,255,255,0.8);
}
.prev {
    left: 22px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 22px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: gold;
    text-wrap: wrap;
    font-size: 15px;
    text-shadow: #090909 1px 1px 1px;
    margin: 5px;
    /*position: absolute;*/
    /*top: 50%;*/
    width: 98vw;
    text-align: justify;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#links {
    background-color: white;
    height: 250px;
    padding: 10px;
    border-bottom: 2px solid black;
}
#links > h2 {
    padding-top: 10px;
    text-shadow: #090909 1px 1px 1px;
}

#twitterDiv {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
}

.donateLinks {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
    padding: 20px;

}

.donateLinks > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}

button {
    color: #090909;
    padding: 0.4em 0.3em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}