* {
    margin: 0;
    padding: 10px;
}

#wallet {
    background-image: url("/src/empty-wallet.png");
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    aspect-ratio: 1.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border: solid red 2px; */

}


.license {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/src/driving-license-blank.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 243px;
    height: 141px;
    font: .5rem bold;
    scale: .75;
    border-radius: 10px;
    top: 7.3rem;
    left: 6.4rem;
    transform: rotate(-90deg);
}

@keyframes move {
    0% {
        transform: translateX(-10px);
        transform: rotate(-90deg);
    }
    50% {
        transform: translateX(-170px);
    }
    100% {
        z-index: 2;
        transform: translateX(-80px);

    }
}

.license:hover {
    cursor: pointer;
    /* transform: rotate(-90deg) scale(1.01); */
    border: .5px solid white;
    animation: move 1s forwards;
}

#right-bottom {
    background-image: url("/src/wallet-right-bottom.png");
    width: 4rem;
    height: 13.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -5.05rem;
    right: -14rem;


}




.license div {
    left: 69px;
    position: relative;
;
}

#surname {
    top: 2.28rem;
}

#first-name {
    top: 1rem;
}

#dob {
    top: .3rem;
}

#valid-from {
    top: -.89rem;
}

#valid-to {
    top: -2.15rem;

}

#license-number {
    top: -3.39rem;
}

#address {
    top: -4.4rem;
}

#license-photo {
    width: 60px;
    height: 50px;
    background-image: url("/src/zelensky-photo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    left: .3rem;
    top: 2rem;
    position: absolute;
    
}

#fake-text {
    position: absolute;
    bottom: -.5rem;
    left: .75rem;
    transform: rotate(-.2deg);
}





#bank-card {
    width: 243px;
    height: 141px;
    background-color: red;
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    scale: .75;
    top: 10.5rem;
    left: -1.75rem;
}
